@model AuthorizationModel // Модель с которой взаимодействует html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AuthorizationStyle.css" asp-append-version="true" />
</head>
<body>
    <h2>Авторизация</h2>
    <form method="post" asp-controller="Authorization" asp-action="CheckData" id="Authorization-Form">
        <!-- Метод передачи данных, контроллер для обработки данных, метод для обработки данных -->
        <div class="loginBlock dataForm">
            <label asp-for="Login" class="loginLabel">Логин</label> <!-- Название поля -->
            <input asp-for="Login" class="inputField" /> <!-- Поле для ввода данных -->
        </div>
        <div class="passwordBlock dataForm">
            <label asp-for="Password">Пароль</label> <!-- Название поля -->
            <input class="js-password-input inputField" asp-for="Password" type="password" /> <!-- Поле для ввода данных -->
            <button class ="js-btn-password" type="button">
                <img src="icon/eye.svg" class="eye-icon"/>
            </button>
        </div>
        <button>Войти</button>
        <span>@ViewData["Message"]</span> <!-- Поле для вывода ошибок -->
    </form>
    <a asp-controller="Authorization" asp-action="RegistrationForm">Зарегистрироваться</a>
    <a asp-controller="Authorization" asp-action="RestorePasswordForm">Восстановить пароль</a>
<script src="~/js/ValidationAuthorizationForm.js"></script>
<script src="js/ShowPassword.js"></script>
</body>
</html>