@model RegistrationModel
<h2>Регистрация</h2>

<form method="post" asp-controller="Authorization" asp-action="Registration"> <!-- Метод передачи данных, контроллер для обработки данных, метод для обработки данных -->

    <label asp-for="Name"></label> <!-- Название поля -->
    <input asp-for="Name" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="Name"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="Login"></label> <!-- Название поля -->
    <input asp-for="Login" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="Login"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="Password"></label> <!-- Название поля -->
    <input asp-for="Password" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="Password"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="Email"></label> <!-- Название поля -->
    <input asp-for="Email" /> <!-- `Поле для ввода данных -->
    <span asp-validation-for="Email"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="Locality"></label> <!-- Название поля -->
    <input asp-for="Locality" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="Locality"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="StreetName"></label> <!-- Название поля -->
    <input asp-for="StreetName" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="StreetName"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="HouseNumber"></label> <!-- Название поля -->
    <input asp-for="HouseNumber" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="HouseNumber"></span> <!-- Поле для вывода ошибок -->

    <label asp-for="ApartmentNumber"></label> <!-- Название поля -->
    <input asp-for="ApartmentNumber" /> <!-- Поле для ввода данных -->
    <span asp-validation-for="ApartmentNumber"></span> <!-- Поле для вывода ошибок -->

    <input type="submit" value="Зарегистрироваться"/>
    <span>@ViewData["Message"]</span> <!-- Поле для вывода ошибок -->
</form> 

<a asp-controller="Authorization" asp-action="Index">Отмена</a>
