@model RegistrationModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AuthorizationStyle.css" asp-append-version="true" />
</head>
<body>
    <h2>Регистрация</h2>
    
    <form method="post" asp-controller="Authorization" asp-action="Registration" id="Registration-Form"> <!-- Метод передачи данных, контроллер для обработки данных, метод для обработки данных -->
        <div class="Name-box">
            <label asp-for="Name">ФИО</label> <!-- Название поля -->
            <input asp-for="Name" class="inputField" /> <!-- Поле для ввода данных -->
        </div>
        
        <div class="Login-box">
            <label asp-for="Login">Логин</label>
            <input asp-for="Login" class="inputField" />
        </div>
        
        <div class="Password-box">
            <label asp-for="Password">Пароль</label>
            <input id="js-first-password" asp-for="Password" type="password" class="inputField passwordField" />
            <button class="js-btn-password1 js-btn-password" type="button">
                <img src="~/icon/eye.svg" class="eye-icon" />
            </button>
        </div>
        
        <div class="ConfirmPassword-box">
            <label asp-for="ConfirmPassword">Подтвердите пароль</label>
            <input id="js-second-password" asp-for="ConfirmPassword" type="password" class="inputField confirmPassword" />
            <button class="js-btn-password2 js-btn-password" type="button">
                <img src="~/icon/eye.svg" class="eye-icon" />
            </button>
        </div>
        
        <div class="Email-box">
            <label asp-for="Email">Электронная почта</label>
            <input asp-for="Email" class="inputField" />
        </div>
        
        <div class="Locality-box">
            <label asp-for="Locality">Населенный пункт</label>
            <input asp-for="Locality" class="inputField" />
        </div>
        
        <div class="StreetName-box">
            <label asp-for="StreetName">Название улицы</label>
            <input asp-for="StreetName" class="inputField" />
        </div>
        
        <div class="HouseNumber-box">
            <label asp-for="HouseNumber">Номер дома</label>
            <input asp-for="HouseNumber" class="inputField" />
        </div>
        
        <div class="ApartmentNumber-box">
            <label asp-for="ApartmentNumber">Номер квартиры</label>
            <input asp-for="ApartmentNumber" class="inputField" />
        </div>
        <button>Зарегистрироваться</button>
        <span>@ViewData["Message"]</span> <!-- Поле для вывода ошибок -->
    </form>
    <a asp-controller="Authorization" asp-action="Index" type="submit">Отмена</a>
    <script src="~/js/ShowRegistrationPassword.js"> </script>
    <script src="~/js/ValidationRegistrationForm.js"></script>
</body>
</html>